.directory
.project
.pydevproject
.settings
.idea
*.pyc
*.jasper
.bzrignore
server/bin/addons/*
!server/bin/addons/base
!server/bin/addons/gen_graph.sh
!server/bin/addons/__init__.py
!server/bin/addons/module_graph.py
!server/bin/addons/quality_integration_server
!addons/gisce/Soller/giscedata_facturacio_comer_soller/report/lecturas.jasper
addons/koo/jasper_reports/java/jasperserver.log
*.swp
*.swo
server/bin/libfacturacioatr
tags
webforms.config
.DS_Store
docs/build
docs/source/addons/*
migrations
.idea
