language: python
python:
  - "2.7"
before_script:
  - psql -c 'create database bot;' -U postgres
  - psql -c 'CREATE TABLE users (id int, mode varchar(30),zoom int,format varchar(30),language varchar(10))' -U postgres
install: 
  - pip install requests
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install six
script: 
  - PYTHONPATH="." python test/test.py
after_success:
  - PYTHONPATH="." coverage2 run --source=.  test/test.py
  - coveralls
services:
  - postgresql
